.concurso-item {
  padding: .25em .5em;

  .dados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #e0e0e0;
    padding: .4em;

    .data, .jogos {
      border-radius: 25px;
      border: 1px solid #c0c0c0;
      display: flex;
      justify-content: center;
      align-items: center;
      //font-size: .85em;
      color: #fff;
      padding: .3em .5em;
    }

  }
  .header {
    padding: .4em;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    /*align-items: center;
    justify-content: space-between;
    width: 35%;*/
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    color: #fff;

    ion-icon {
      font-size: 1.2em;
      margin-left: .5em;
    }
  }
}

.quina {
  .dados {
    border-color: #260085;
  }

  .header, .dados span {
    background-color: #260085;
  }
}

.mega {
  .dados {
    border-color: #209869;
  }

  .header, .dados span {
    background-color: #209869;
  }
}

.lotomania {
  .dados {
    border-color: #F78100;
  }

  .header, .dados span {
    background-color: #F78100;
  }
}
