<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Concurso {{concurso.numero}}
    </ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="addConcurso()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content class="concurso-component">

  <h2>Concurso: {{concurso.numero}}</h2>
  <h4>{{concurso.data | date:'dd/MM/yyyy'}}</h4>

  <div class="lista">
    <jogo-item *ngFor="let jogo of concurso.jogos; let idx = index;" [jogo]="jogo" (acao)="onAcao($event, idx)"></jogo-item>
  </div>

</ion-content>
