<div class="jogo-add-component">

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="fechar()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Adicionar Jogo</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="rnd()" [hidden]="loteria.tipo === null" color="warning">
                <ion-icon slot="icon-only" name="shuffle"></ion-icon>
            </ion-button>
            <ion-button (click)="salvar()" [disabled]="!podeSalvar" color="success">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-content padding>

        <ion-button color="light" expand="full" (click)="escolheLoteria($event)">{{loteria.nome}}</ion-button>

        <cartela [loteria]="loteria" [random]="random" (result)="onCartelaResult($event)"></cartela>

    </ion-content>

</div>
