<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            Meus Jogos
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addJogo()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="lista">

    <jogo-item *ngFor="let jogo of jogos; let idx = index;" [jogo]="jogo" (acao)="onAcao($event, idx)"></jogo-item>

</ion-content>
